<app-socialsignin *ngIf="((socialSigninState | async).authenticated && !queryParams.token) || (!(socialSigninState | async).authenticated && !queryParams.token)" (loginEvent)="onLogIn($event)"></app-socialsignin>
<app-check-token *ngIf="queryParams.token"></app-check-token>
<div *ngIf="(socialSigninState | async).authenticated && !queryParams.token" class="wrapper">
	<div class="sidebar" data-color="azure" data-background-color="white">
		<app-sidenavbar></app-sidenavbar>
	</div>
	<div class="main-panel">
		<app-header></app-header>
		<router-outlet></router-outlet>
		<!--<app-footer></app-footer>-->
	</div>
</div>