<nav #navbar class="navbar navbar-expand-lg navbar-transparent  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <!-- <a class="navbar-brand font-weight-bold" href="home#">Comercial</a> -->
    </div>
    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav nav-pills">
        <li *ngFor="let o of menuOptions; let i = index;" class="nav-item">
          <a *ngIf="i <= (maxHeaderOptions -1) && o"
             class="nav-link"
             [ngClass]="{ 'active': o.modulo == (headerState|async).moduloActual }"
             [routerLink]="['home']"
             (click)="onChangeModulo(o.modulo, o.icon)"
             id="opcion_{{ o.modulo }}">
            <i>
              <img
                  src="{{ o.icon }}"
                  width="40px"
              />
            </i>
            <p class="text-center">{{ o.modulo }}</p>
          </a>
        </li>
        <li *ngIf="menuOptions.length > maxHeaderOptions" class="nav-item dropdown">
          <a class="nav-link activeNotif"
             [routerLink]="['home']"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             id="navbarDropdownMenuLink_moreOptions">
            <i>
              <img src="./assets/img/masOpciones.png"
                   width="40px"
                   id="opcion_mas_modulos"/>
            </i>
            <p class="text-center">Más...</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_moreOptions">
            <a *ngFor="let opt of opcionesAdicionales;"
               class="dropdown-item"
               href="#"
               (click)="onChangeModulo(opt.modulo, opt.icon)"
               id="opcion_{{ opt.modulo }}">
              <i><img src="{{ opt.icon }}" width="40px"/></i>
              {{ opt.modulo }}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link activeNotif"
             href="#"
             id="navbarDropdownMenuLink_commercialNotifications"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <i><img src="./assets/img/notificacion.png" width="30px"/></i>
            <span class="notification">{{ enterpriseNotifications.length }}</span>
            <p>
              <span class="d-lg-none d-md-block">Notificaciones Comerciales</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_commercialNotifications">
            <a *ngFor="let not of enterpriseNotifications"
               class="dropdown-item"
               routerLink="{{not.href}}">{{ not.text }}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link activeNotif"
             href="#"
             id="navbarDropdownMenuLink_socialNotifications"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <i><img src="./assets/img/notificacion.png" width="30px"/></i>
            <span class="notification">{{ socialNotifications.length }}</span>
            <p>
              <span class="d-lg-none d-md-block">Notificaciones Sociales</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_socialNotifications">
            <a *ngFor="let not of socialNotifications" class="dropdown-item" routerLink="{{not.href}}">{{ not.text }}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link activeNotif"
             href="#"
             id="navbarDropdownMenuLink_accountOptions"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <img *ngIf="photoUrl && photoUrl.length > 0" title="{{ userName }}" src="{{ photoUrl }}" width="40px" style="border-radius:50%;" alt="{{ userName }}"/>
            <img *ngIf="!photoUrl || (photoUrl && !photoUrl.length > 0)" title="{{ userName }}" src="" width="40px" style="border-radius:50%;" alt="{{ userName }}"/>
            <p>
              <span class="d-lg-none d-md-block">Mi Cuenta</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_accountOptions">
            <a class="dropdown-item"
               [routerLink]="[home]"
               (click)="onLogOut()"
               id="endSessionPhoto">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
