<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="searchEntityForm">
          <div class="card" style="max-height: 400px;">
            <div class="card-header">
              <h4 class="card-title text-uppercase text-center font-weight-bold">Buscador</h4>
            </div>
            <div class="card-body overflow-auto">
              <div class="form-group bmd-form-group">
                <input
                  type="text"
                  class="form-control"
                  name="searchText"
                  placeholder="Ingrese CUIT o Razón Social a buscar"
                  formControlName="searchText"
                  id="buscador_entidades"
                  maxlength="200"
                  (ngModelChange) = "sendSearchText($event)">
              </div>
              <span *ngIf="searchEntityForm.get('searchText').touched && !searchEntityForm.get('searchText').valid" class="text-danger">No se pueden ingresar más de 200 caracteres.</span>
              <ul class="list-group" *ngIf="existingEntities.length >= 1" id="buscador_lista_entidades">
                <li class="list-group-item" *ngFor="let e of existingEntities; let i = index;">
                  <span class="font-weight-bold"> - {{ e.text | uppercase }}</span>
                </li>
              </ul>
            </div>
          </div>
        </form>
        <div class="form-group">
          <button
            class="btn btn-success mat-raised-button"
            (click)="goToEntityForm();"
            id="alta_entidad">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>
