<div class="main-content">
	<!--<app-error></app-error>-->
	<div class="container-fluid">
		<div class="continer-fluid">
			<div class="row">
				<div class="ml-auto mr-auto">
					<div class="card">
						<div class="card-header text-center">
							<h4 class="card-title">Lista de Usuarios</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<div class="table">
									<thead class="text-primary text-center" style="color: #2196f3;">
										<tr>
											<th style="color: #00bcd4">Nombre</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let u of users">
											<td><a
												style="color: black;"
												class="text-uppercase text-center"
												[routerLink]="['home']"
												(click)="loginComo(u.id)"
												id="{{ u.id }}">{{ u.name }}</a></td>
										</tr>
										<!--<tr *ngFor="let u of users">{{ u.name }}</tr>-->
									</tbody>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>