<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="/assets/img/isologo.gif" class="mt-2"/>
    </div>
  </a>
  <a [routerLink]="['home']" class="simple-text logo-normal">
    <img src="/assets/img/letras.gif" width="150px"/>
  </a>
</div>
<div class="sidebar-wrapper font-weight-bold">
	<div class="user">
		<div class="user-info">
       <div *ngIf="!photoUrl.length >= 1 && !isMobileMenu()">
         <span class="d-md-block">Logeado como: {{ userName }}</span>
         <hr>
       </div>
      <a data-toggle="collapse"
         href="#collapseAgencias"
         class="collapsed"
         (click)="updatePS();">
        <span>Agencia: {{ selectedAgency }}<b class="caret"></b></span>
      </a>
      <div class="collapse" id="collapseAgencias">
        <ul class="nav">
          <li class="nav-item" *ngFor="let ag of agencies; let i = index">
            <a class="nav-link"
               (click)="changeAgency(i); updatePS();"
               data-toggle="collapse"
               href="#collapseAgencias">
              <span class="sidebar-normal">{{ ag.name }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileMenu()" class="d-lg-none font-weight-bold">
    <ul class="nav navbar-nav nav-mobile-menu text-font">
      <li class="nav-item dropdown">
        <a href="#"
           class="nav-link"
           id="navbarDropdownMenuLink_commercialNotifications"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <i class="material-icons">notifications</i>
          <span class="notification"> {{ enterpriseNotifications.length }} </span>
          <p>
            <span class="d-lg-none d-md-block">Notificaciones Com.</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_commercialNotifications">
          <a *ngFor="let not of enterpriseNotifications"
             href="{{ not.href }}"
             class="dropdown-item">{{ not.text }}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a href="#"
             class="nav-link"
             id="navbarDropdownMenuLink_socialNotifications"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <i class="material-icons">notifications</i>
            <span class="notification">{{ socialNotifications.length }}</span>
            <p>
              <span class="d-lg-none d-md-block">Notificaciones Soc.</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_socialNotifications">
            <a *ngFor="let not of socialNotifications" href="{{ not.href }}" class="dropdown-item"> {{ not.text }}</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#"
           class="nav-link"
           id="navbarDropdownMenuLink_accountOptions"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <i><img *ngIf="photoUrl.length >= 1" src="{{ photoUrl }}" alt="{{ userName }}"width="30px" style="border-radius:50%;"/></i>
          <p>
            <span *ngIf="photoUrl.length >= 1" class="d-lg-none d-md-block">Mi cuenta</span>
            <span *ngIf="!photoUrl.length >= 1" class="d-lg-none d-md-block">Logeado como: {{ userName }}</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_accountOptions">
          <a class="dropdown-item"
             [routerLink]="['home']"
             (click)="onLogout();"
             id="endSessionPhoto">Cerrar Sesión</a>
        </div>
      </li>
      <hr>
      <li *ngFor="let o of menuOptions" class="nav-item">
        <a *ngIf=" o && o.modulo != (headerState|async).moduloActual"
           class="nav-link"
           [routerLink]="['home']"
           [ngClass]="{'active':o.modulo == (headerState|async).moduloActual}"
           (click)="onChangeModulo(o.modulo, o.icon); updatePS();"
           id="opcion_{{ o.modulo }}">
          <i><img src="{{ o.icon }}" width="30px"/></i>
          <p> {{ o.modulo }} </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li class="nav-item">
        <a *ngIf="isMobileMenu()"
           class="nav-link"
           [routerLink]="['home']"
           (click)="onChangeModulo(o.modulo, o.icon); updatePS();"
           [ngClass]="{'activado': isMobileMenu()}"
           id="opcion_{{ (headerState|async).moduloActual }}">
          <i><img src="{{ (headerState|async).icon }}" width="30px"/></i>
          <p> {{ (headerState|async).moduloActual }} </p>
        </a>
    </li>
    <li class="nav-item">
        <a *ngIf="hasSistemasPermissions()"
           class="nav-link"
           [routerLink]="['sistemas','login-como']"
           routerLinkActive="active"
           id="menu_sistemas_login_como"
           (click)="updatePS(); cerrarMenu();">
          <i class="material-icons">account_circle</i>
          <p> Ingresar Como </p>
        </a>
    </li>
    <li class="nav-item">
        <a *ngIf="hasAltaTomadorPermission()"
           class="nav-link"
           href="#collapseAltasModificacionesComerciales"
           data-toggle="collapse"
           id="menu_comercial_alta_modificacion"
           (click)="updatePS()">
          <i class="material-icons">account_circle</i>
          <p> Alta/Modificación <b class="caret"></b></p>
        </a>
        <div *ngIf="hasAltaTomadorPermission()" class="collapse" id="collapseAltasModificacionesComerciales">
          <ul class="nav">
            <li class="nav-item">
              <a [routerLink]="['comercial','buscador']" class="nav-link" id="menu_comercial_alta_modificacion_tomador" (click)="updatePS(); cerrarMenu();">
                <i class="material-icons">person</i>
                <span class="sidebar-normal"> Tomador </span>
              </a>
            </li>
          </ul>
        </div>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseEjecutivos" (click)="updatePS()">
        <i class="material-icons">person</i>
        <p> Ejecutivos <b class="caret"></b> </p>
      </a>
      <div class="collapse" id="collapseEjecutivos">
        <ul class="nav">
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">person</i>
              <span class="sidebar-normal"> Ejecutivo 1 </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">person</i>
              <span class="sidebar-normal"> Ejecutivo 2 </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">person</i>
              <span class="sidebar-normal"> Ejecutivo 3 </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">person</i>
              <span class="sidebar-normal"> Ejecutivo 4 </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">person</i>
              <span class="sidebar-normal"> Ejecutivo 5 </span>
            </a>
          </li>
        </ul>
      </div>
    </li>-->
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseTomadores" (click)="updatePS()">
        <i class="material-icons">list_alt</i>
        <p> Altas/Modificaciones <b class="caret"></b> </p>
      </a>
      <div class="collapse" id="collapseTomadores">
        <ul class="nav">
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">account_circle</i>
              <span class="sidebar-normal"> Tomadores </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">create</i>
              <span class="sidebar-normal"> Modificación Tomador </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">delete_swift</i>
              <span class="sidebar-normal"> Baja Tomador </span>
            </a>
          </li>
        </ul>
      </div>
    </li>-->
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapsePoliza" (click)="updatePS()">
        <i class="material-icons">list_alt</i>
        <p> Pólizas <b class="caret"></b> </p>
      </a>
      <div class="collapse" id="collapsePoliza">
        <ul class="nav">
          <li class="nav-item">
            <a href="home#" class="nav-link">
              <i class="material-icons">add</i>
              <span class="sidebar-normal"> Emitir Póliza </span>
            </a>
          </li>
        </ul>
      </div>
    </li>-->
  </ul>
</div>
