.form-text{
	position:relative;
}
.static-value{
	position:absolute;
	left:10px;
	font-weight:bold;
	top:11px;
}

agm-map {
    height: 300px;
}

#streetview-pano {
	width: 100%;
	height: 300px;
}

/*
#form_entidad_direccion_telefono_empresarial{
	padding:5px 5px 5px 40px;
}
#form_entidad_contacto_telefono_numero{
	padding:5px 5px 5px 40px;
}
*/

#form_tomador_google_places_search::placeholder {
	color: black !important;
}