<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="nav nav-pills nav-fill" style="background-color: white; box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.53); " #tabsStructure>
          <li class="nav-item">
            <a
              class="nav-link active"
              [ngClass]="{'active': activePill === 'datosInformativos'}"
              id="entidad_tomador_tab_1"
              href="comercial/tomador/nuevo#datosInformativos"
              (click)="changeActivePill('datosInformativos');">Datos Informativos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': activePill === 'datosFiscales'}"
               id="entidad_tomador_tab_2"
               href="comercial/tomador/nuevo#datosFiscales"
               (click)="changeActivePill('datosFiscales');">Datos Fiscales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': activePill === 'documentosFormularios'}"
               id="entidad_tomador_tab_3"
               href="comercial/tomador/nuevo#documentosFormularios"
               (click)="changeActivePill('documentosFormularios');">Documentos/Formularios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': activePill === 'vinculacionesComerciales'}"
               id="entidad_tomador_tab_4"
               href="comercial/tomador/nuevo#vinculacionesComerciales"
               (click)="changeActivePill('vinculacionesComerciales');">Vinculaciones Comerciales</a>
          </li>
        </ul>
        <form [formGroup]="formTomador" (ngSubmit)="onSubmit();">
          <div *ngIf="activePill == 'datosInformativos'" class="card" id="#datosInformativos" style="box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.53); ">
            <div class="card-header">
              <h4 class="card-title text-uppercase text-center font-weight-bold">
                Datos Informativos
              </h4>
            </div>
            <div class="card-body overflow-auto">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group bmd-form-group">
                    <label for="tipo_ente">Tipo de Ente (*)</label>
                    <mat-form-field>
                        <mat-select id="form_entidad_tomador_tipo_ente" formControlName="tipoEnte" placeholder="Seleccionar" name="tipo_ente">
                        <mat-option *ngFor="let tipoEnte of opcionesTipoEnte" [value]="tipoEnte.tipoEnteId">{{ tipoEnte.tipoEnte }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="formTomador.get('tipoEnte').touched && !formTomador.get('tipoEnte').valid" class="text-danger">Se debe seleccionar un Tipo de Ente.</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group bmd-form-group">
                    <label for="razonSocial">Razón Social (*)</label>
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        name="razonSocial"
                        formControlName="razonSocial"
                        id="form_entidad_tomador_razon_social"
                        maxlength="200"
                        class="mt-1">
                    </mat-form-field>
                    <span *ngIf="formTomador.get('razonSocial').touched && !formTomador.get('razonSocial').valid && formTomador.get('razonSocial').errors.required" class="text-danger">Se debe ingresar una Razón Social.</span>
                    <span *ngIf="formTomador.get('razonSocial').touched && !formTomador.get('razonSocial').valid && formTomador.get('razonSocial').errors.pattern" class="text-danger">La Razón Social ingresada no es válida.</span>
                    <span *ngIf="formTomador.get('razonSocial').touched && !formTomador.get('razonSocial').valid && formTomador.get('razonSocial').errors.maxLength" class="text-danger">La Razón Social no puede poseer más de 200 caracteres.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                  <div class="form-group bmd-form-group">
                    <label for="pais">País (*)</label>
                    <mat-form-field>
                        <mat-select formControlName="pais" placeholder="Seleccionar" name="pais" id="form_entidad_tomador_direccion_pais" (ngModelChange)="changePaisSeleccionado($event)">
                          <mat-option *ngFor="let pais of paises" [value]="pais.id">{{ pais.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="formTomador.get('pais').touched && !formTomador.get('pais').valid && formTomador.get('pais').errors.required" class="text-danger">Se debe seleccionar un País.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-group bmd-form-group">
                    <label for="provincia">Provincia (*)</label>
                    <mat-form-field>
                        <mat-select formControlName="provincia" placeholder="Seleccionar" name="provincia" id="form_entidad_tomador_direccion_provincia" (ngModelChange)="changeProvinciaSeleccionada($event)">
                          <mat-option *ngFor="let prov of provincias" [value]="prov.id">{{ prov.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="formTomador.get('provincia').touched && !formTomador.get('provincia').valid && formTomador.get('provincia').errors.required" class="text-danger">Se debe seleccionar una Provincia.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-group bmd-form-group">
                    <label for="localidad">Localidad (*)</label>
                    <mat-form-field>
                        <mat-select formControlName="localidad" placeholder="Seleccionar" name="localidad" id="form_entidad_tomador_direccion_localidad">
                          <mat-option *ngFor="let loc of localidades" [value]="loc.id">{{ loc.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--<mat-form-field>
                      <input
                        matInput
                        formControlName="localidad"
                        type="text"
                        class="form-control"
                        list="datalistLocalidades"
                        (ngModelChange)="changeLocalidadSeleccionada($event)"
                        placeholder="Seleccionar">
                      <datalist id="datalistLocalidades">
                        <option class="opt_loc" *ngFor="let loc of localidades; let i = index;" value="{{ loc.value }}">
                        </option>
                      </datalist>
                    </mat-form-field>-->
                    <span *ngIf="formTomador.get('localidad').touched && !formTomador.get('localidad').valid && formTomador.get('localidad').errors.required" class="text-danger">Se debe seleccionar una Localidad.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group bmd-form-group">
                    <label for="tipo_direccion" class="mb-4">Tipo de camino (*)</label>
                    <mat-form-field>
                        <mat-select formControlName="tipo_direccion" placeholder="Seleccionar" name="tipo_direccion" (ngModelChange) = "checkRoadType($event); changeTipoCalleSeleccionado($event)" id="form_entidad_tomador_direccion_tipo">
                          <mat-option *ngFor="let tipoCamino of opcionesTipoCamino" [value]="tipoCamino.tipoCaminoId">{{ tipoCamino.tipoCamino }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="formTomador.get('tipo_direccion').touched && !formTomador.get('tipo_direccion').valid && formTomador.get('tipo_direccion').errors.required" class="text-danger">Se debe seleccionar un Tipo de Camino.</span>
                  </div>
                </div>
                <div [hidden]="!calleObligatoria" class="col-12 col-md-6 col-lg-8">
                  <div class="form-group bmd-form-group">
                    <label for="calle" id="form_entidad_tomador_direccion_calle_label">Calle (*)</label>
                    <mat-form-field class="street_input">
                      <input
                        matInput
                        type="text"
                        class="form-control"
                        name="calle"
                        formControlName="calle"
                        id="form_entidad_tomador_direccion_calle"
                        maxlength="100">
                    </mat-form-field>
                    <span *ngIf="formTomador.get('calle').touched && !formTomador.get('calle').valid && formTomador.get('calle').errors.maxLength" class="text-danger">La calle ingresada no puede superar los 100 caracteres.</span>
                    <span *ngIf="formTomador.get('calle').touched && !formTomador.get('calle').valid && formTomador.get('calle').errors.calleVacia" class="text-danger">Al haber ingresado un tipo de camino "Otro", no debe ingresar un valor de {{ tipoCalleText }}.</span>
                    <span *ngIf="formTomador.get('calle').touched && !formTomador.get('calle').valid && formTomador.get('calle').errors.calleObligatoria" class="text-danger">Debe ingresar un valor de {{ tipoCalleText }}.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div [hidden]="!numeroCalleObligatorio" class="col-6">
                  <div class="form-group bmd-form-group">
                    <label for="numero_calle">Número (*)</label>
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        class="form-control"
                        name="numero_calle"
                        formControlName="numero_calle"
                        id="form_entidad_tomador_direccion_numero"
                        maxlength="10">
                    </mat-form-field>
                    <span *ngIf="formTomador.get('numero_calle').touched && !formTomador.get('numero_calle').valid && formTomador.get('numero_calle').errors.maxLength" class="text-danger">El número no puede superar los 10 caracteres.</span>
                    <span *ngIf="formTomador.get('calle').touched && !formTomador.get('calle').valid && formTomador.get('calle').errors.numeroCalleVacio" class="text-danger">Al haber ingresado un tipo de camino "Otro", no debe ingresar un número de {{ tipoCalleText }}.</span>
                    <span *ngIf="formTomador.get('numero_calle').touched && !formTomador.get('numero_calle').valid && formTomador.get('numero_calle').errors.numeroCalleObligatorio" class="text-danger">Debe ingresar un número de {{ tipoCalleText }}.</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group bmd-form-group">
                    <label for="codigo_postal">Código Postal (*)</label>
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        class="form-control"
                        name="codigo_postal"
                        formControlName="codigo_postal"
                        id="form_entidad_tomador_direccion_cp"
                        maxlength="10">
                    </mat-form-field>
                    <span *ngIf="formTomador.get('codigo_postal').touched && !formTomador.get('codigo_postal').valid && formTomador.get('codigo_postal').errors.invalidCodigoPostalArgentina && paisSeleccionado == 9" class="text-danger">El código postal ingresado no es un código válido en la Argentina.</span>
                    <span *ngIf="formTomador.get('codigo_postal').touched && !formTomador.get('codigo_postal').valid && formTomador.get('codigo_postal').errors.invalidCodigoPostalExtranjero" class="text-danger && paisSeleccionado == 9">El código postal ingresado no es un código válido.</span>
                    <span *ngIf="formTomador.get('codigo_postal').touched && !formTomador.get('codigo_postal').valid && formTomador.get('codigo_postal').errors.required" class="text-danger">Se debe ingresar un código postal.</span>
                    <span *ngIf="formTomador.get('codigo_postal').touched && !formTomador.get('codigo_postal').valid && formTomador.get('codigo_postal').errors.invalidLength" class="text-danger">El código postal ingresado no puede superar los 10 caracteres.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group bmd-form-group">
                    <label for="descripcion_ubicacion">Descripción Unidad Funcional</label>
                    <mat-form-field>
                    <textarea matInput
                              name="descripcion_ubicacion"
                              class="form-control"
                              id="form_entidad_tomador_direccion_descripcion"
                              rows="3"
                              formControlName="descripcion_ubicacion"
                              maxlength="200">
                    </textarea>
                    </mat-form-field>
                    <span *ngIf="formTomador.get('descripcion_ubicacion').touched && !formTomador.get('descripcion_ubicacion').valid && formTomador.get('descripcion_ubicacion').errors.maxlength" class="text-danger">La descripción ingresada no puede superar los 200 caracteres.</span>
                    <span *ngIf="formTomador.get('descripcion_ubicacion').touched && !formTomador.get('descripcion_ubicacion').valid && formTomador.get('descripcion_ubicacion').errors.descripcionObligatoria" class="text-danger">Al haber elegido un tipo de camino "Otro", debe ingresar una descripción de la unidad funcional.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3>Localización con Google Maps</h3>
                  <div class="form-group bmd-form-group">
                    <!--<label>Ingresar Dirección</label>-->
                    <input type="text" class="form-control mb-3" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #searchAddress id="form_entidad_tomador_google_places_search">
                  </div>
                  <agm-map [latitude]="mapsLatitude" [longitude]="mapsLongitude" [zoom]="mapsZoom" [streetViewControl]="false" (zoomChange)="zoomChanged($event)">
                    <agm-marker [latitude]="mapsLatitude" [longitude]="mapsLongitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                    </agm-marker>
                  </agm-map>
                  <h3 *ngIf="streetViewLocation">Vista con Street View </h3>
                  <div id="streetview-container" class="mt-4">
                    <div id="streetview-map" class="d-none" #streetViewMap></div>
                    <div id="streetview-pano" #streetViewPano></div>
                  </div>
                  <div *ngIf="!streetViewLocation">
                    <h3 class="text-warning">No se posee de una vista previa con Street View de la localización seleccionada.</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group bmd-form-group">
                    <label for="form_entidad_tomador_direccion_telefono_empresarial">Teléfono Empresarial (*)</label>
                    <div class="form-text">
                      <mat-form-field>
                        <input
                        matInput
                        type="text"
                        class="form-control"
                        name="telefono_empresarial"
                        formControlName="telefono_empresarial"
                        id="form_entidad_tomador_direccion_telefono_empresarial"
                        maxlength="25"
                        >
                      </mat-form-field>
                    </div>
                    <span *ngIf="formTomador.get('telefono_empresarial').touched && !formTomador.get('telefono_empresarial').valid && formTomador.get('telefono_empresarial').errors.maxlength" class="text-danger">El teléfono ingresado no puede superar los 25 caracteres.</span>
                    <span *ngIf="formTomador.get('telefono_empresarial').touched && !formTomador.get('telefono_empresarial').valid && formTomador.get('telefono_empresarial').errors.required" class="text-danger">Debe ingresar un teléfono empresarial.</span>
                    <span *ngIf="formTomador.get('telefono_empresarial').touched && !formTomador.get('telefono_empresarial').valid && formTomador.get('telefono_empresarial').errors.pattern" class="text-danger">El teléfono ingresado no es válido (recuerde agregar código de país/area).</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group bmd-form-group">
                    <label for="form_entidad_tomador_web" class="mt-2">Página Web</label>
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        class="form-control"
                        name="pagina_web"
                        formControlName="pagina_web"
                        id="form_entidad_tomador_web"
                        maxlength="255"
                        >
                    </mat-form-field>
                    <span *ngIf="formTomador.get('pagina_web').touched && !formTomador.get('pagina_web').valid && formTomador.get('pagina_web').errors.maxlength" class="text-danger">La URL ingresada no puede superar los 255 caracteres.</span>
                    <span *ngIf="formTomador.get('pagina_web').touched && !formTomador.get('pagina_web').valid && formTomador.get('pagina_web').errors.pattern" class="text-danger">La URL ingresada no es válida.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <form [formGroup]="formInformeNosis">
                    <label>Informe Nosis (*)</label>
                    <br>
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                      <div>
                        <span class="btn btn-round btn-rose btn-file">
                          <span class="fileinput-new">Subir Informe</span>
                          <span class="fileinput-exists">Cambiar</span>
                          <input type="file" name="informeNosis" id="form_entidad_tomador_informe_nosis" (change)="onInformeNosisChange($event)" accept="application/pdf">
                        </span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card" *ngIf="activePill == 'datosInformativos'" style="box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.53); max-height: 350px;">
                <div class="card-header text-center">
                  <h4 class="card-title font-weight-bold">
                    Contactos Personales
                  </h4>
                </div>
                <div class="card-body overflow-auto">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-info text-uppercase text-center">
                        <tr>
                          <th>Sector</th>
                          <th>Nombre</th>
                          <th>Mail</th>
                          <th>Tipo Teléfono</th>
                          <th>Número Teléfono</th>
                          <th>Interno</th>
                          <th class="text-white">Acciones</th>
                          <th class="d-none">Index</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let c of contactosTomador; let i = index;">
                          <td>{{ c.sector | sectorContactoPipe }}</td>
                          <td>{{ c.name }}</td>
                          <td>{{ c.mail }}</td>
                          <td>{{ c.phone_type | tipoTelefonoContactoPipe }}</td>
                          <td>{{ c.phone }}</td>
                          <td>{{ c.int }}</td>
                          <td class="d-none">{{ i }}</td>
                          <td class="d-table-row">
                            <span class="btn btn-warning btn-round btn-fab mt-4"
                                  [swal]="editContactSwal">
                              <i class="material-icons" (click)="setIdEditContacto(i);" id="contacto_tomador_editar_{{i+1}}">build</i>
                              <div class="ripple-container"></div>
                            </span>
                            <span [swal]="deleteContactSwal"
                                  class="btn btn-danger btn-round btn-fab mt-4">
                              <i class="material-icons" (click)="setIdDeleteContacto(i);" id="contacto_tomador_eliminar_{{i+1}}">delete</i>
                              <div class="ripple-container"></div>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <span class="btn btn-success btn-round btn-fab"
                            [swal]="newContactSwal">
                        <i class="material-icons" id="contacto_tomador_nuevo">add</i>
                        <div class="ripple-container"></div>
                      </span>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-4 col-offset-4">
            <button class="btn btn-success mat-raised-button" id="alta_entidad_tomador" type="submit" [disabled]="formTomador.invalid || nosisCargado === false">Crear</button>
          </div>
        </form>
        <div class="row">
          <div class="col-3 offset-3">
            <a class="btn btn-primary mat-raised-button" id="form_tomador_up_button" (click)="goToTabsStructure();">
              Ir Arriba
            </a>
          </div>
          <div *ngIf="activePill == 'datosInformativos'" class="col-3">
            <a class="btn btn-primary mat-raised-button" id="form_tomador_next_button" href="/comercial/tomador/nuevo#datosFiscales" (click)="goToTabsStructure(); changeActivePill('datosFiscales');">
              <i class="material-icons">arrow_forward</i>Datos Fiscales
            </a>
          </div>
          <div *ngIf="activePill == 'datosFiscales'" class="col-3">
            <a class="btn btn-primary mat-raised-button" id="form_tomador_next_button" href="/comercial/tomador/nuevo#documentosFormularios" (click)="goToTabsStructure(); changeActivePill('documentosFormularios');">
              <i class="material-icons">arrow_forward</i>Documentos/Formularios
            </a>
          </div>
          <div *ngIf="activePill == 'documentosFormularios'" class="col-3">
            <a class="btn btn-primary mat-raised-button" id="form_tomador_next_button" href="/comercial/tomador/nuevo#vinculacionesComerciales" (click)="goToTabsStructure(); changeActivePill('vinculacionesComerciales');">
              <i class="material-icons">arrow_forward</i>Vinculaciones Comerciales
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteContactSwal
  title="Eliminar Contacto"
  text="¿Está seguro que desea eliminar este contacto?"
  type="error"
  [showCancelButton]="true"
  [showConfirmButton]="true"
  [focusCancel]="true"
  (confirm)="deleteContacto()"
  [options]="{ confirmButtonText:'Eliminar', cancelButtonText:'Cancelar' }"
  (open)="onOpenSwal()">
</swal>

<swal
  #editContactSwal
  title="Editar Contacto"
  type="warning"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [focusConfirm]="false"
  [options]="{ cancelButtonText:'Cancelar' }"
  (open)="onOpenSwal()"
  (beforeOpen)="handleEditContacto()">
  <form *swalPartial [formGroup]="formContactoTomador">
    <div class="card-body overflow-auto">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="sector" class="mb-4" >Sector (*)</label>
            <mat-form-field>
                <mat-select id="form_entidad_tomador_contacto_sector" formControlName="sector" placeholder="Seleccionar" name="contacto_sector">
                  <mat-option *ngFor="let sector of opcionesSectorContacto" [value]=" sector.sectorId">{{ sector.sector }}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('sector').touched && !formContactoTomador.get('sector').valid" class="text-danger">Se debe seleccionar un Sector.</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_nombre">Nombre Completo (*)</label>
            <mat-form-field>
              <input
                matInput
                type="text"
                class="form-control"
                name="nombre_contacto"
                formControlName="nombre"
                id="form_entidad_tomador_contacto_nombre"
                maxlength="200">
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.required" class="text-danger">Se debe ingresar un nombre.</span>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.pattern" class="text-danger">El nombre ingresado no es válido.</span>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.maxLength" class="text-danger">El nombre no puede contener más de 200 caracteres.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_mail">Mail (*)</label>
            <mat-form-field>
              <input
                matInput
                type="text"
                class="form-control"
                name="mail_contacto"
                formControlName="mail"
                id="form_entidad_tomador_contacto_mail"
                maxlength="100">
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.required" class="text-danger">Se debe ingresar un mail.</span>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.email" class="text-danger">El mail ingresado no es válido.</span>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.maxLength" class="text-danger">El mail no puede contener más de 100 caracteres.</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="sector" class="mb-4">Tipo Teléfono (*)</label>
            <mat-form-field>
                <mat-select id="form_entidad_tomador_contacto_telefono_tipo" formControlName="tipo_telefono" placeholder="Seleccionar" name="contacto_tipo_telefono">
                  <mat-option *ngFor="let tipoTelefono of opcionesTipoTelefono" [value]="tipoTelefono.tipoTelefonoId">{{ tipoTelefono.tipoTelefono }}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('tipo_telefono').touched && !formContactoTomador.get('tipo_telefono').valid" class="text-danger">Se debe seleccionar un tipo de teléfono.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_telefono_numero">Número de Teléfono (*)</label>
            <div class="form-text">
              <mat-form-field>
                <input
                    matInput
                    type="text"
                    class="form-control"
                    name="contacto_numero_telefono"
                    formControlName="numero_telefono"
                    id="form_entidad_tomador_contacto_telefono_numero"
                    maxlength="25">
              </mat-form-field>
            </div>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.maxlength" class="text-danger">El teléfono ingresado no puede superar los 25 caracteres.</span>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.required" class="text-danger">Debe ingresar un teléfono de contacto.</span>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.pattern" class="text-danger">El teléfono ingresado no es válido.</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_telefono_interno">Número de Interno</label>
            <div class="form-text">
              <mat-form-field>
                <input matInput
                       type="text"
                       class="form-control"
                       name="contacto_interno"
                       formControlName="interno"
                       id="form_entidad_tomador_contacto_telefono_interno"
                       maxlength="10">
              </mat-form-field>
            </div>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.maxlength" class="text-danger">El número de interno ingresado no puede superar los 10 caracteres.</span>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.required" class="text-danger">Debe ingresar un número de interno.</span>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.pattern" class="text-danger">El número de interno ingresado no es válido (recuerde agregar código de país/area).</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-3">
        <div class="form-group bmd-form-group">
          <button class="btn btn-warning mat-raised-button" id="modal_contacto_tomador_confirm_button" (click)="editContacto()" [disabled]="formContactoTomador.invalid">Modificar</button>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group bmd-form-group">
          <button class="btn btn-danger mat-raised-button" id="modal_contacto_tomador_cancel_button" (click)="closeModal();">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</swal>

<swal
  #newContactSwal
  title="Agregar Nuevo Contacto"
  type="success"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [focusConfirm]="false"
  (open)="onOpenSwal()"
  (beforeOpen)="handleNewContacto()">
  <form *swalPartial [formGroup]="formContactoTomador">
    <div class="card-body overflow-auto">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="sector" class="mb-4">Sector (*)</label>
            <mat-form-field>
                <mat-select id="form_entidad_tomador_contacto_sector" formControlName="sector" placeholder="Seleccionar" name="contacto_sector">
                  <mat-option *ngFor="let sector of opcionesSectorContacto" [value]=" sector.sectorId">{{ sector.sector }}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('sector').touched && !formContactoTomador.get('sector').valid" class="text-danger">Se debe seleccionar un Sector.</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_nombre">Nombre Completo (*)</label>
            <mat-form-field>
              <input
                matInput
                type="text"
                class="form-control"
                name="nombre_contacto"
                formControlName="nombre"
                id="form_entidad_tomador_contacto_nombre"
                maxlength="200">
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.required" class="text-danger">Se debe ingresar un nombre.</span>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.pattern" class="text-danger">El nombre ingresado no es válido.</span>
            <span *ngIf="formContactoTomador.get('nombre').touched && !formContactoTomador.get('nombre').valid && formContactoTomador.get('nombre').errors.maxLength" class="text-danger">El nombre no puede contener más de 200 caracteres.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_mail">Mail (*)</label>
            <mat-form-field>
              <input
                matInput
                type="text"
                class="form-control"
                name="mail_contacto"
                formControlName="mail"
                id="form_entidad_tomador_contacto_mail"
                maxlength="100">
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.required" class="text-danger">Se debe ingresar un mail.</span>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.email" class="text-danger">El mail ingresado no es válido.</span>
            <span *ngIf="formContactoTomador.get('mail').touched && !formContactoTomador.get('mail').valid && formContactoTomador.get('mail').errors.maxLength" class="text-danger">El mail no puede contener más de 100 caracteres.</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="sector" class="mb-4 ">Tipo Teléfono (*)</label>
            <mat-form-field>
                <mat-select id="form_entidad_tomador_contacto_telefono_tipo" formControlName="tipo_telefono" placeholder="Seleccionar" name="contacto_tipo_telefono">
                  <mat-option *ngFor="let tipoTelefono of opcionesTipoTelefono" [value]="tipoTelefono.tipoTelefonoId">{{ tipoTelefono.tipoTelefono }}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="formContactoTomador.get('tipo_telefono').touched && !formContactoTomador.get('tipo_telefono').valid" class="text-danger">Se debe seleccionar un tipo de teléfono.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_telefono_numero">Número de Teléfono (*)</label>
            <div class="form-text">
              <mat-form-field>
                <input
                    matInput
                    type="text"
                    class="form-control"
                    name="contacto_numero_telefono"
                    formControlName="numero_telefono"
                    id="form_entidad_tomador_contacto_telefono_numero"
                    maxlength="25">
              </mat-form-field>
            </div>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.maxlength" class="text-danger">El teléfono ingresado no puede superar los 25 caracteres.</span>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.required" class="text-danger">Debe ingresar un teléfono de contacto.</span>
            <span *ngIf="formContactoTomador.get('numero_telefono').touched && !formContactoTomador.get('numero_telefono').valid && formContactoTomador.get('numero_telefono').errors.pattern" class="text-danger">El teléfono ingresado no es válido (recuerde agregar código de país/area).</span>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group bmd-form-group">
            <label for="form_entidad_tomador_contacto_telefono_interno">Número de Interno</label>
            <div class="form-text">
              <mat-form-field>
                <input matInput
                       type="text"
                       class="form-control"
                       name="contacto_interno"
                       formControlName="interno"
                       id="form_entidad_tomador_contacto_telefono_interno"
                       maxlength="10">
              </mat-form-field>
            </div>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.maxlength" class="text-danger">El número de interno ingresado no puede superar los 10 caracteres.</span>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.required" class="text-danger">Debe ingresar un número de interno.</span>
            <span *ngIf="formContactoTomador.get('interno').touched && !formContactoTomador.get('interno').valid && formContactoTomador.get('interno').errors.pattern" class="text-danger">El número de interno ingresado no es válido.</span>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-3 offset-3">
          <div class="form-group bmd-form-group">
            <button class="btn btn-success mat-raised-button" id="modal_contacto_tomador_confirm_button" (click)="newContacto()" [disabled]="formContactoTomador.invalid">Crear</button>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group bmd-form-group">
            <button class="btn btn-danger mat-raised-button" id="modal_contacto_tomador_cancel_button" (click)="closeModal();">Cancelar</button>
          </div>
        </div>
      </div>
  </form>
</swal>