/*@media (min-width: 250px){
  .row{
    margin-top: 30% !important;
  }
}

@media (min-width: 320px){
  .row{
    margin-top: 70% !important;
  }
}

@media (min-width: 500px){
  .row{
    margin-top: 30% !important;
  }
}

@media (min-width: 800px){
  .row{
    margin-top: 15% !important;
  }
}

@media (min-width: 1100px){
  .row{
    margin-top: 10% !important;
  }
}*/
