<app-error></app-error>
<div *ngIf="!(socialSigninState | async).authenticated" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 col-md-4 offset-sm-4" >
            <div class="card">
              <div class="card-header card-header-info card-header-icon">
                <h4 id="loginTitle" class="card-title text-center text-uppercase font-weight-bold">Sistema Integral</h4>
              </div>
              <div class="text-center row">
                <div class="mt-3 col-3 mb-2" style="padding-right: 0; margin: 0">
                  <img src="/assets/img/isologo.gif" width="80%"/>
                </div>
                <div class="mt-4 col-9 mb-2" style="padding-left: 0; margin: 0;">
                  <img src="/assets/img/letras.gif" width="90%"/>
                </div>
              </div>
              <div class="card-footer ml-auto mr-auto">
                <button type="button" (click)="signInWithGoogle()" class="btn btn-success" id="google_signIn_button">Ingresar</button>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>