<div *ngIf="checkErrors()">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header-danger text-center text-uppercase font-weight-bold">
        <h4 class="card-title">Se ha producido un error</h4>
      </div>
      <div class="card-body">
        <p *ngFor="let e of errors" class="font-weight-bold text-center">
          {{ e }}
        </p>
      </div>
    </div>
  </div>
</div>